header{
    background: rgba(20, 20, 20, .9);
    padding: .5rem;

    .flexContainer {
        display: flex;
        justify-content: space-between;
        width: 90%;
        max-width: 980px;
        margin: auto;


        svg{
            margin: .3rem 0;
        }

        input{
            background: none;
            border: none;
            outline: none;
            margin: .5rem 0;
            color: #F0F6FC;
            border: .1rem solid #737380;
            border-radius: .2rem;
            height: 1.8rem;
            align-items: center;
            text-align: center;


            &:focus{
                border: .1rem solid #d3d6d8;
            }
        }

    }

}